

.card-container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 7px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  margin-left: 40px;
  height: fit-content;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.user-info h5 {
  margin-bottom: 5px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.verified {
  color: #009688;
}

.user-date {
  color: gray;
  font-size: 12px;
}

.pricing-box h3 {
  color: #007AFF;
  font-size: 20px;
}

.pricing-box .total {
  color: green;
}

.location {
  display: flex;
  align-items: center;
}

.location i {
  margin-right: 5px;
}

.content-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.content-video{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.card-content h2 {
  font-size: 20px;
}

.card-content span {
  font-size: 17px;
}

.details {
  width: 98%;
}

.details h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.details p {
  color: gray;
  line-height: 1.2;
  font-size: 14px;
  text-align: justify;
}

.pricing-box {
  width: 95%;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pricing-box ul {
  list-style: none;
  margin-bottom: 20px;
}

.pricing-box ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.discount {
  color: green;
}

.see-more {
  width: 100%;
  background-color: #00bcd4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
}

.actions i {
  margin-right: 5px;
}

.custom-now {
  color: #1DA1F2;
  border: solid 1px #1DA1F2;
  padding: 10px 20px;
  border-radius: 99px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;

}

.content-container {
  width: 100%;
  overflow: hidden;
  height: fit-content;
}

.content-container .info-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #007bff;
  transition: color 0.2s;
}

.content-container .info-icon :hover {
  color: #1DA1F2;
}

.schedule-description {
  margin-top: 10px;
}

.schedule-description span {
  font-size: 15px;
}

.post-location {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
  justify-content: center;
}

.location-text {
  margin-left: 10px;
}

label.rating-text {
  font-size: 20px;
  font-weight: 800;
  margin-right: 10px;
}

label.review-text {
  font-size: 14px;
  font-weight: 300;
  color: #6d6b6b;
  margin-right: 40px;
}

.icon-rating {
  font-size: 15px;
  color: #ece50c;
  margin-right: 2px;
}

.icon-not-rating {
  font-size: 15px;
  margin-right: 2px;
}

label.action-text {
  font-size: 15px;
  font-weight: 300;
  margin: 0px 25px 0px 0px;
  height: 100%;
}

.accommodation-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  color: #fff;
  height: 400px;
  margin-bottom: 50px;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Vung_Tau_mount_Nho_panorama.jpg/1920px-Vung_Tau_mount_Nho_panorama.jpg');
  /* Thay bằng đường dẫn ảnh của bạn */
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  /* Làm mờ ảnh */
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Màu sắc của lớp phủ với độ trong suốt */
  z-index: 2;
  /* Đặt lớp phủ lên trên ảnh */
}

.banner-content {
  position: relative;
  z-index: 3;
  color: #fff;
  width: 40%;
  margin-right: 150px;
}

.image-container {
  position: relative;
  width: 45%;
  height: 90%;
  margin-bottom: 20px;
  margin-right: 100px;
  z-index: 100;
}

.banner-image {
  width: 500px;
  height: 350px;
  margin-left: 100px;
  border-radius: 9999px;
}

.custom-shape-divider {
  position: relative;
  width: 100%;
}

.custom-shape-divider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 1;
  clip-path: circle(50% at 50% 50%);
}



.trending {
  font-size: 14px;
  background-color: #60D394;
  padding: 5px 10px;
  color: #000;
  border-radius: 12px;
  font-weight: 550;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

.location {
  display: flex;
  font-size: 14px;
  margin: 10px 0;
}

.rating {
  font-weight: bold;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0;
}

.actions {
  display: flex;
  align-items: center;
}

.book-now {
  background-color: #FFD700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  margin-left: 15px;
  cursor: pointer;
}

.book-now:hover,
.custom-now:hover {
  background-color: #1DA1F2;
  transition: all 0.3s ease-in-out;
  color: white;
}

.accom-banner {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 300;
}

.book-schedule-icon {
  margin-left: 30px;
  cursor: pointer;
}

.book-icon:hover {
  color: red;
}

.favorite-icon:hover {
  cursor: pointer;
  color: red;
}
.enabled {
  color: red !important;
}

.comment-icon:hover {
  cursor: pointer;
  color: #05a5ba;
}

.share-icon:hover {
  cursor: pointer;
  color: #ffc107;
}

.see-more:hover {
  background-color: #05a5ba;
}

/* Container for the title and button */
.pricing-box {
  width: 95%;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


/* Adjust the title and button container layout */
.pricing-title {
  color: #007AFF;
  font-size: 20px;
  display: inline-block;
}

.cost-actions {
  display: inline-block;
  margin-left: 20px;
}

/* The button to toggle costs */
.toggle-costs-btn {
  background-color: #00bcd4;
  color: white;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

/* On hover, change button color */
.toggle-costs-btn:hover {
  background-color: #008c99;
  transition: background-color 0.3s ease;
}

/* Pricing cost list, shown when 'showCosts' is true */
.schedule-description {
  list-style: none;
  margin-bottom: 20px;
}

.schedule-description li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.schedule-description span {
  font-size: 14px;
}

/* Hidden costs text, shown when 'showCosts' is false */
.hidden-costs {
  font-size: 14px;
  margin-top: 10px;
}

.hidden-costs span {
  font-weight: bold;
}
}

.attractions-box {
  padding: 0 10px 0 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 95%;
}

.attractions-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.attractions-list {
  display: flex;
  flex-direction: row;
  gap: 10px; 
  overflow-x: auto; /* Khoảng cách giữa các thẻ */
}

.attraction-item {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-right: 10px;
  gap: 5px; /* Khoảng cách giữa ảnh và tên */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.attraction-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.attraction-item img {
  width: 30px; /* Đường kính ảnh */
  height: 30px;
  object-fit: cover;
  border-radius: 50%; /* Làm tròn ảnh */
  border: 2px solid #ddd;
}

.attraction-item p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
  margin: 0;
  word-break: break-word;
}
