/* Style cho modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
  /* Style cho nội dung modal */
  .add-activity-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
  }
  
  /* Style cho header của modal */
  .modal-header {
    text-align: center;
    position: relative;
  }
  
  textarea.input-field {
    min-height: 190px;
}
.img-add-activity-container {
  flex: 1;
  display: flex;
  height: 320px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
button.carousel-button {
  padding: 10px;
  opacity: 0.5;
  border: 0px;
  cursor: pointer;
}
button.carousel-button:hover {
  opacity: 1;
}
.add-schedule-img {
  width: 400px;
  height: 320px;
  border: solid 1px;
  border-radius: 10px;
  object-fit: cover;
}
  /* Style cho phần body */
  .modal-body {
    padding-top: 10px;
  }
  
  /* Các input và textarea */
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style cho footer của modal */
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  .name-price-container {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title-container {
  flex: 1;
}
  .save-btn {
    background-color: #f90;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: -10px;
}
  i.fa-regular.fa-circle-xmark {
    font-size: 30px;
    
}
i.fa-regular.fa-circle-xmark:hover{
  color: #ff0000;
}
.add-activity-modal::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
}

.header-accom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}



.num-title {
  margin-bottom: 5px;
}

.header-left {
  font-size: 1em;
  margin-left: 6%;
}

.num-text {
  font-size: 16px;
  color: #807d7d;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 5%;
  
}

.header-right label {
  width: 100px;
  font-weight: 500;
  font-size: 17px;
  min-width: 150px;
}



.header-accom  select {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 0.8em;
  color: #333;
  background-color: #f7f7f7;
  transition: all 0.3s ease;
  padding: 10px 40px 10px 5px;
}