.list-accom__filters {
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
  

  .price-range-slider {
    margin-top: 10px;

  }

  .price-range-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  button {
    margin-top: 5px;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  input[type="text"] {
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}