.food-details-info {
  display: flex;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 65px;
}

/* Food Details Section */
.food-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 2;
}
.food-features{
  margin-bottom: 20px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.food-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.food-main-img {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.food-thumbnails {
  display: flex;
  gap: 10px;
}

.food-thumbnails img {
  width: 100px;
  height: auto;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.food-thumbnails img:hover {
  border-color: #4a90e2;
}

/* Features Section */
.food-features p {
  margin-bottom: 5px;
}

/* Description Section */
.food-description h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Map Section */
.food-map {
  margin-top: 20px;
}

.food-map h3 {
  margin-bottom: 20px;
}

.food-map iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-content img {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 8px;
}

.food-gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #4a90e2;
}

.close-btn:hover {
  color: #357ab8;
}

/* Nút lưu yêu thích */
.favorite-button {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px 15px;
  background: #ffdab9;
  border-radius: 6px;
  border: 2px solid transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
  color: #8B4513;
}

.favorite-button:hover {
  background: #8B4513;
  color: #fff;
  transform: scale(1.05);
}
.favorite-button:hover i {
  color: #fff;
}

/* Icon */
.favorite-button i {
  color: #8B4513;
  font-size: 1.4rem;
}
.saved {
  background: #acf599;
  color: #01621a;
}
.saved i {
  color: #01621a;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .food-thumbnails img {
    width: 80px;
  }

  .food-main-img {
    max-width: 100%;
  }
}