/* Overlay nền tối */
.modal-overlay-invite-tripmates {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
  
  /* Modal box */
  .modal {
    background: white;
    padding: 20px 30px;
    border-radius: 20px;
    width:40vw ;
    min-height: 25vw;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Tiêu đề */
  .modal-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Chuyển đổi quyền */
  .permission-toggle {
    display: flex;
    background-color: #f3f4f5;
    border-radius: 8px;
    overflow: hidden;
    padding: 2px;
  }
  
  .permission-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
    font-size: 14px;
  }

  .permission-toggle button:hover {
    background: rgb(197, 195, 195);
    color: rgb(1, 1, 1);
  }
  
  .permission-toggle button.active {
    background: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
  
  /* Ô nhập link + nút copy */
  .share-link {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 10px;
    padding: 12px;
    overflow: hidden;
    align-items: center;
    color:#495057;

    i{
        align-items: center;
        height: fit-content;

    }
  }
  
  .share-link input {
    flex: 1;
    padding: 8px;
    border: none;
    background: #f8f8f8;
    font-size: 14px;
  }

  .share-link input:focus {
    outline: none;
  }
  
  .share-link button {
    padding: 10px 16px;
    background: #f75940;
    color: white;
    border-radius: 14px;  
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .invite-tripmates {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 10px;
    overflow: hidden;
    align-items: center;
    color:#495057;
    background: #f8f8f8;

    i{
        position: absolute;
        z-index: 10;
        margin-left: 10px;
        margin-top: 20px;
    }

    input {
        display: block;
        position: relative;
        width: 100%;
        padding: 8px;
        border-radius: 6px;
        border: none;
        font-size: 14px;
        padding: 20px 20px 20px 35px;
    }

    
  }

  

  
  /* Quản lý người tham gia */
  .manage-tripmates {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: none;
    border: none;
    font-size: 14px;
    color: gray;
    cursor: pointer;
  }
  
  /* Nút đóng */
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #f3f2f2;
    border-radius: 50%;
    align-items: center;
    font-size: 16px;
    padding-bottom: 5px;
    color: gray;
    cursor: pointer;
  }

    .close-btn:hover {
        background: #dedede;
    }
  
}