.place-details-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.tour-details {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.gallery {
  margin-bottom: 30px;
  margin-top: 30px;
}

.main-img {
  width: 100%;
  height: auto;
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  overflow-x: auto;
}

.thumbnails img {
  width: 18%;
  cursor: pointer;
}

.features {
  margin-bottom: 20px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  display: grid ;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.description{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.description h2 {
  margin-bottom: 10px;
}

.booking-form {
  margin-top: 95px;
  max-height: 600px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.booking-form form {
  display: flex;
  flex-direction: column;
}

.booking-form label {
  margin: 10px 0 5px 0;
  text-align: left;
}

.booking-form input,
.booking-form select,
.booking-form button {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.booking-form .book-btn {
  background-color: #00bfa5;
  height: 50px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.booking-form .wishlist-btn ,
.booking-form .share-btn {
  border: solid 1px #778088;
  transition: background-color 0.3s ease;
  height: 50px;
}

.booking-form button:hover {
  background-color: #009b86;
}

.total-price h3 {
  margin-bottom: 20px;
}

.map {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

}

.map iframe {
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* Modal Styles */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.modal-content img {
  width: 500px;
  height: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}