.tour-search-container {
  margin-bottom: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-card-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;
  width: 70%;
  margin: 0 auto;
}

.post-card-header {
  padding: 10px;
  text-align: center;
}

.post-card-header h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 2px; /* Khoảng cách giữa các chữ cái */
  margin: 0; /* Loại bỏ khoảng trống mặc định */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng chữ */
}

.post-card-container {
  width: 100%; /* Chiếm 75% diện tích */
  display: grid ;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
  border-radius: 8px;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* .filter-sidebar {
  width: 25%; 
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 1000px;
}

.filter-sidebar h3 {
  margin-bottom: 16px;
  font-size: 18px;
  color: #333;
}

.filter-option {
  margin-bottom: 20px;
}

.filter-option h4 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.filter-option input,
.filter-option select {
  width: 100%;
  margin: 4px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-option label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
} */

.tour-search {
  color: #333;
  position: relative;
}

.home-background {
  height: 400px;
  width: 100%;
  z-index: -100;
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  /* Giữ tỷ lệ và lấp đầy khung */
  object-position: center;
  /* Canh giữa ảnh */
}

.hero-section {
  position: relative;
  text-align: center;
  padding: 80px 20px ;
  background-image: url('path-to-your-image.jpg');
  /* Thay đường dẫn hình ảnh */
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hero-title {
  margin-top: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1rem;
  padding: 10px;
}

.video-button {
  margin-top: 20px;
}

.play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.play-icon {
  width: 32px;
  height: 32px;
  color: #009688;
}

.search-container {
  width: 70%;
  position: relative;
  margin-top:  80px;
  left: 15%;
  display: flex;
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-input {
  border: none;
  outline: none;
  border-radius: 4px;
  flex-grow: 1;
  color: #333;
  font-style: italic;
  font-size: 16px;
  margin-left: 20px;
  width: 80%;
}

.search-button {
  background: #ffc107;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border: none;
  font-weight: 550;
  border-radius: 99px;
  cursor: pointer;
  margin-left: 4%;
}
.search-button:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.popular-cities {
  text-align: center;
}

.cities-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cities-description {
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.city-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.city-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: transparent;
  color: #333;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Shorthand for multiple properties */
}

.city-button:hover {
  background: #009688;
  color: white;
  border-color: #009688;
  /* Change border color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Optional shadow effect on hover */
}

.home-header {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.home-header .header-menu a {
  text-decoration: none;
  font-size: 15px;
  padding: 10px 20px;
}

.home-header .header-menu a:hover {
  text-decoration: none;
  background-color: #b5eaf9;
  border-radius: 10px;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.home-header .header .logo {
  color: rgb(255, 255, 255);
  width: 150px;
  cursor: pointer;
}

.search-subtitle {
  display: flex;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  color: #7BBCB0;
}

.search-icon {
  margin-left: 10px;
}

.search-title {
  width: 40%;
  text-align: left;
}

.city-slider {
  width: 80%;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background: #007bff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #c1c0c0 !important;
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #353637 !important;
}

.post-card-recommendations {
  justify-content: space-around;
  padding: 16px;
  width: 70%;
  margin: 0 auto;
}

.post-card-recommendations__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;

}

.post-card-recommendations__message {
  text-align: center;
  color: #777;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .hero-title {
    margin-top: 0px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.home-background {
  height: 50vh;
}
.hero-subtitle {
  font-size: 0.7em;
  padding: 5px;
}
.hero-section{
  padding: 80px 20px 30px 20px;
}
.search-container {
  width: 90%;
  left: 5%;
  margin: 0;
  padding: 15px 20px;
  flex-direction: column;
}
.search-title {
  width: unset;
  text-align: left;
}
.search-icon {
  margin: 0;
  margin-left: 10px;
}
.search-input {
  padding: 5px;
  margin: 0px 0px 10px 3px;
}
.popular-cities {
  margin: 0px 10px ;
}
.cities-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.cities-description {
  font-size: 0.8rem;
}
.city-slider {
  width: 100%;
  margin: 0 auto;
}
.accommodation-banner {
  flex-direction: column;
  padding: 10px;
  justify-content: unset;
  height: fit-content;
}
.banner-image {
  width: unset;
  height: 185px;
  margin: 0;
  border-radius: 9999px;
}
.image-container {
  width: unset;
  height: unset;
  margin: 0;
}
.banner-content {
  position: relative;
  z-index: 3;
  color: #fff;
  width: unset;
  margin: 0;
}
.banner-city-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.title {
  font-size: 1.3rem;
}
.description {
  padding-bottom: 5px;
  font-size: 14px;
  margin: 10px 0px;
}
.location {
  font-size: 12px;
  margin: 5px 0;
  justify-content: center;
}
.post-card-header h3 {
  font-size: 1.3rem;
}
.post-card-recommendations {
  padding: 10px;
  width: 100%;
}
.user-info {
  padding: 0;
  padding-left: 3px;
  padding-bottom: 3px;
}
.post-location {
  padding: 0;
  padding-right: 3px;
  
}
.card-content h2 {
  font-size: 18px;
}
.card-content {
  padding: 10px;
}
.slidebar-container .custom-slide {
  padding: 5px;
}
p.card-facilities {
  font-size: 0.7rem !important;
}
.slidebar-container .card {
  min-height: 360px;
}
.slidebar-container {
  width: 100%;
  min-width: unset;
}
.slidebar-container .card-image {
  min-height: 130px;
  height: 130px;
}
p.card-price, p.card-reviews {
  font-size: 0.8rem !important;
}
p.card-duration {
  font-size: 0.7rem !important;
  margin: 0;
}
h3.title {
  font-size: 1.3rem !important;
  margin: 0px 10px;
}
.city-button {
  padding: 10px 12px;
}
.city-buttons {
  gap: 5px;
  margin-top: 10px;
}
.tour-search-container {
  margin-bottom: 10px;
}
}