/* Footer Styles */
.footer {
    background-color: #0F1E32;
    width: 100%;
}

.footer .footer-container {
    background-color: #13253F;
    width: 100%;
}

.footer .footer-header {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}
.footer-first-col{
    flex: 1;
}

.footer .footer-title {
    color: white;
    font-size: 13px;
    font-weight: 300;
}

.footer .footer-columns {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    flex-wrap: wrap;
}

.footer .footer-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    min-width: 200px;
}

.footer .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

.footer .custom-select {
    position: relative;
    width: 200px;
}

.footer .selected-option {
    display: flex;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    background-color: #13253F;
}

.footer .selected-option::after {
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid white;
    position: absolute;
    right: 10px;
    top: 30%;
    transition: transform 0.1s ease;
}

.footer .selected-option.open::after {
    transform: translateY(20%) rotate(-90deg);
}

.footer .footer-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer .footer-logo {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.footer .footer-payment {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    gap: 5px;
}

.footer .footer-payment-img {
    width: 30px;
    height: 20px;
    background-color: white;
}

.footer .options {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #13253F;
    border: 1px solid black;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    align-items: center;
}

.footer .option {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.footer .option:hover {
    background-color: #0F1E32;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .footer .footer-columns {
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-column {
        width: 100%;
    }
    .footer .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
}
