.main-page {
  display: flex;
  width: 100%;
  /* Full viewport width */
  margin: 0 auto;
  padding: 10px;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 6px 5px 15px rgba(11, 11, 11, 0.1);
  margin-bottom: 40px;
  margin-top: 10px;
}

.main-page>* {
  flex: 1;
}

.sidebar {
  flex: 0.2;
  /* Sidebar takes 20% of width */
}

.dashboard {
  flex: 0.8;
  /* Dashboard takes 80% of width */
}