/* @import "tailwindcss"; */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
}

.app{
  width: 100%;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #e7e4e4;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a1a1a1;
  border-radius: 20px;
  border: 3px solid #e7e4e4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.mobile-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradient màu sắc đẹp */
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 20px;


.notification-content {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.6); /* Nền trong suốt */
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notification-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.notification-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.notification-content p strong {
  color: #ffdd57; /* Làm nổi bật một vài từ */
}

.notification-content p:last-child {
  margin-top: 15px;
  font-style: italic;
}
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Style cho header khi ở trang ShortVideo */
.short-video-header {
  position: fixed  ;
  top: -60px; /* Giả sử header cao 60px, điều chỉnh cho phù hợp */
  left: 0;
  right: 0;
  z-index: 2000;
  transition: top 0.3s ease;
}

/* Hiển thị header khi hover */
.short-video-header:hover, 
.header-trigger-area:hover ~ .short-video-header {
  top: 0;
}

/* Trigger area ở trên cùng của trang */
.header-trigger-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 1999;
  background-color: transparent;
}

.app-content{
  min-height: 100vh;
}