.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.header .logo {
    width: 150px;
    cursor: pointer;
}

.header hr {
    width: 1px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: none;
}

.header-menu {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 18px;
}

.header-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: medium;
    transition: color 0.3s;
    /* Add transition for hover effect */
}

.header-menu a:hover {
    color: tomato;
    /* Change color on hover */
}

.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-right button {
    width: 120px;
    padding: 10px 20px;
    background-color: #FFDA32;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.5s, color 0.5s;
    /* Smooth transitions */
}

.header-right button:hover {
    background-color: rgba(28, 27, 27, 0.563);
    color: white;
}

.header-profile {
    position: relative;
}

.header-profile .profile-menu {
    width: 250px;
    list-style: none;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    background-color: white;
    /* Ensure background for visibility */
    border-radius: 5px;
    border: 1px solid #ddd;
    /* Add border for clarity */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow for depth */
}

.header-profile .profile-name {
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 2px 8px rgba(11, 11, 11, 0.1);
    background-color: rgb(9, 178, 239);
}

.profile-name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-profile hr {
    width: 100%;
    /* Đặt chiều rộng đầy đủ */
    height: 1px;
    /* Đặt chiều cao thấp để nằm ngang */
    background-color: rgba(0, 0, 0, 0.1);
    /* Màu sắc nhẹ nhàng */
    border: none;
    /* Xóa đường viền mặc định */
    margin: 10px 0;
    /* Khoảng cách hợp lý ở trên và dưới */
}

.profile-menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /* Add padding for clickable area */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transition for hover effect */
}

.profile-menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Highlight on hover */
}

.header-menu-page:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header-menu-page {
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}