.profile-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.profile-avatar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-avatar img :hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.profile-info {
    text-align: left;
}

.profile-info h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
    text-align: center;
    cursor: pointer;
}

.profile-info h2:hover {
    color: tomato;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.profile-info h4 {
    font-size: 16px;
    color: #777;
    margin: 5px 0;
}

.profile-info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.info-container p strong {
    font-weight: bold;
    color: #333;
}

.status-container {
    margin: 15px 0;
}

.status-container select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.status-container select:disabled {
    background-color: #f0f0f0;
    color: #aaa;
}

.profile-actions {
    margin-top: 15px;
}

.profile-actions button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-actions button:hover {
    background-color: #0056b3;
}

/* Đảm bảo tính responsive */
@media (min-width: 768px) {
    .users-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .profile-card {
        flex: 1 1 calc(20% - 40px);
        /* Đảm bảo các thẻ có kích thước bằng nhau */
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .profile-card {
        flex: 1 1 calc(50% - 40px);
        /* Chia đôi trên màn hình nhỏ */
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .profile-card {
        flex: 1 1 100%;
        /* Thẻ chiếm hết chiều rộng màn hình trên thiết bị nhỏ */
        margin: 10px 0;
    }
}