.place-details-info {
    display: grid;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

.addition-infor-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 22px;
    color: gray;

}
.title-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 2px #7BBCB0 !important;
    cursor: pointer;
  }
  .infor-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
  .title-button:hover {
    background-color: #7BBCB0;
  }
  
  .title-button.saved {
    background-color: #a5f97b;
    border-color: #13d102;
  }
.schedule-icon {
    margin-right: 10px;
    color: #000;
  }
  
.save-and-share-btn {
    color: #000;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
  }
p.addition-infor-content {
    color: #000;
}
.tour-details {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.gallery {
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-img {
    width: 100%;
    height: auto;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
}

.thumbnails img {
    width: 18%;
    cursor: pointer;
}

.features {
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.description {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.description h2 {
    margin-bottom: 10px;
}

.booking-form {
    margin-top: 35px;
    max-height: 350px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    margin: 10px 0 5px 0;
    text-align: left;
}
button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.booking-form .book-btn {
    background-color: #00bfa5;
    height: 50px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-form .wishlist-btn,
.booking-form .share-btn {
    border: solid 1px #778088;
    transition: background-color 0.3s ease;
    height: 50px;
}

.total-price h3 {
    margin-bottom: 20px;
}

.map {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

}

.map iframe {
    border-radius: 10px;
    border: 1px solid #ccc;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}



.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}
}